* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --principal-color: #172958;
    --second-color: #FF583B;
    --start-scale: 0.5;
    --end-scale: 1.2;
}

.clean-transition *{
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -o-transition: none!important;
    -ms-transition: none!important;
    transition: none!important;
}


body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #172958;
    --sb-size: 6px;
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size) 
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    
    }

/* ***************************loader*******************/


/* .containerloader {
   width: calc(50px * 2);
   height: calc(50px * 2);
   position: relative;
   animation: rotate 5s linear infinite;
   scale: 1.5;
   transform-origin: center center;
   
}
@keyframes rotate {
    50% {
        transform: rotate(180deg);
      }
      100% {
          transform: rotate(360deg);
  }
}
.ball {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    animation: racket 1s ease-in-out infinite;
    transform: scale(var(--start-scale));
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.5);
    transition: scale 3s, opacity 5s step-end;
    position: relative;
  }
  
  
  
  #ball{
      z-index: 100;
    }
    
    
    
    .ball:nth-child(1) {
        background: #bb1515;
        position: absolute;
        top: 0;
        left: 0;
        animation-delay: 0s;
    }
    
    .ball:nth-child(1):after {
        content: '';
        width: 13px;
        height: 21px;
        background: #d2b34f;
        position: absolute;
        top: -15px;
        transform: rotate(144deg);
        transform-origin: center center;
    }
    
    .ball:nth-child(3) {
        background: rgb(255, 255, 255);
        position: absolute;
        top: 0;
        right: 0;
        animation-delay: 500ms;
    }
    
    .ball:nth-child(2) {
        background: #0e0e0e;
        position: absolute;
        bottom: 0;
        left: 0;
        animation-delay: 500ms;
    }
    
    .ball:nth-child(2):after {
        content: '';
        width: 13px;
        height: 21px;
        background: #d2b34f;
        position: absolute;
        top: -15px;
        transform: rotate(144deg);
        transform-origin: center center;
    }
    
    .ball:nth-child(4) {
        background: rgb(255, 255, 255);
        position: absolute;
        bottom: 0;
        right: 0;
        animation-delay: 0s;
        box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    }
    
    @keyframes racket {
        0% {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            transform: scale(var(--start-scale));
        }
        50% {
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
            transform: translateX(50px) scale(var(--end-scale));
        }
        100% {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            transform: scale(var(--start-scale));
        }
    }
    
    .mycanvas{
        background-color: #1c4881;
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 1s linear;
        border: 5px solid white;
        overflow: hidden;
        
    }
    
    .trait{
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        border: 2px solid white;
        position: absolute;
        box-shadow: 5px 5px 11px rgb(11, 18, 91);
    }
    
    .filet{
        border: 10px solid black;
        border-radius: 50%;
        left: 0;
        position: absolute;
    }
    .filet2{
        border: 10px solid black;
        border-radius: 50%;
        right: 0;
        position: absolute;
    }



    .bord2{
        border: 1px solid rgba(255, 255, 255, 0.7);
        height: 100vh;
        position: absolute;
        
    }
    
    
    
    .contenu{
        opacity: 0;
        transition: opacity 1.7s linear;
        display: none;
    }
    
    .contenuapparait{
        opacity: 1;
    }
  
  .canvadisparait{
    opacity: 0;
  }
  
  .disparait{
    scale:100;
    
} */

 


/* ************************HEADER********************* */

#back {
    background: url('../img/Photo-concours.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    transition: background-image 0.3s linear;
    transition: transform 0.2s ease-in-out;
    animation: kenburns 20s infinite alternate;
    overflow: hidden;
    left: 0;
}



.max-back {
    height: 700px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

@keyframes kenburns {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
        
    }

    100% {
        transform: scale(1);
    }
}

.wrapper {
    color: white;
    width: 100%;
    height: 700px;
}



.navigation-principal img {
    width: 150px;
    margin-top: 1rem; 
    /* margin-left: 2rem; */
}


.logo-nav div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: all 1.5s ease-out;
   
}


.logo-nav i {
    cursor: pointer;
    margin-left: 15%;
}

.nav-scroll{
    background-color: rgba(0,0,0,0.9);
    /* border-radius: 5rem; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}

/*----------------------navigation------------------------*/

.fa-solid:before {
    font-family: FontAwesome;
    content: '\f0c9';
}

.cross:before {
    font-family: FontAwesome;
    content: '\f00d';
    padding: 0.2rem;
}

.fa-solid,
.cross {
    font-size: 3rem;
    color: var(--second-color);
}

.nav-bar {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 20;
    top:50px;
    transition: top 1s ease-in-out;
}

.nav-bar-scroll{
    position: fixed;
    top: 40px;
}

.nav-bar li {
    list-style: none;
}

.wrapper a {
    text-decoration: none;
}

.sous {
    padding: 0;

}

.sous>li {
    background-color: white;
    border-radius: 0.5rem;
    color: black;

}
.current {
    background-color: var(--principal-color);
    color: white!important;
    border-radius: 0.5rem;
}

.sous li>a {
    display: block;
    padding: 1.5rem 2rem;
    margin-top: 0rem;
    color: black;
    
}


.sous a:hover{
    color: var(--second-color);
}
  

.icon:after {
    font-family: FontAwesome;
    content: '\f107';
    margin-left: 1rem;
}

.sous-menu2 {
    display: none;
}




/* -------------------text bienvenue---------------------------- */

.text-header {
    width: 90%;
    margin: auto;
    position: relative;
    animation: left 1.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 650px;
    text-shadow: 1px 1px 2px black;
}

@keyframes left {
    0% {
        left: -100%
    }

    100% {
        left: 0%;
    }
}


.text-header p {
    font-size: 1.2rem;
}

.text-header a{
    background: linear-gradient(to right, var(--principal-color), var(--second-color) 70%);
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: inline-block;
    margin-top: 2rem;
    color: white;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px black;
}

.header-lien{
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 100%;
}






/* ****************************OUR TENNIS CLUB OFFER********************************* */

.fond-ourtennisclub {
    background-color: rgba(0, 0, 0, 0.03);
    padding: 2rem 1.5rem 5rem;
}


.ourtennisclub p:first-child {
    color: var(--second-color)
}

.text-header,.pied-page,.navigation-principal{
    max-width: 1200px;
}

.container {
    margin: 4rem auto;
    width: 90%;
    max-width: 1200px;
}

.ourtennisclub {
    text-align: center;
    display: block;
}

.section-ourclub img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 5px 5px 15px black;
}

.section-ourclub h3 {
    color: var(--second-color);
    font-size: 2.2rem;
}

.section-ourclub article {
    text-align: center;
}

.section-ourclub p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: var(--principal-color);
    text-shadow: 1px 0px 1px var(--principal-color);
}


.animation-1 , .animation-2{
    opacity: 0;
    transition: opacity 1.5s linear;
    width: 240px;
    height: 240px;
    margin: auto;
}


.rotateInUpRight {
    animation-name: rotateInUpRight;
    animation-duration: 1.5s;
    opacity: 1;
}

.rotateInDownRight {
    animation-name: rotateInDownRight;
    animation-duration: 1.5s;
    opacity: 1;
}

@keyframes rotateInUpRight {
    0% {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, -90deg);
        opacity: 0;
    }

    100% {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}

@keyframes rotateInDownRight {
    0% {
        transform-origin: right bottom;
        transform: rotate3d(0, 0, 1, 45deg);
        opacity: 0;
    }

    100% {
        transform-origin: right bottom;
        transform: none;
        opacity: 1;
    }
}

hr {
    margin: 7rem auto 5rem;
    width: 80%;
}

.boutton-inscription{
    text-align: center;
}

.boutton-inscription h3{
    text-transform: uppercase;
    font-size: 2.5rem;
}

.section-ourclub a {
    background: linear-gradient(to right, var(--principal-color), var(--second-color) 70%);
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--principal-color);
    display: inline-block;
    margin-top: 2rem;
    color: white;
    text-decoration: none;
    margin-top: 4rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 5px black;
}



.section-ourclub a:hover {
    background: var(--second-color);
    scale: 1.07;
}

/* ****************************DERNIERE INFOS********************************* */



.section-nouveaute h2 {
    text-align: center;
    width: 90%;
    margin: 0 auto 8rem;
    text-transform:uppercase;
    color: var(--principal-color)

}

.section-nouveaute article {
    background-color: rgba(0, 0, 0, 0.01);
    margin-top: 4rem;
    border-radius: 20px;
    box-shadow: 0px 1px 10px black;

}

.section-nouveaute img {
    width: 100%;
}

.logo-raquette-nouveaute{
    height: 60px;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    border-radius: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 1rem;
}

.nouveaute img {
    width: 80%;
    max-height: 100%;
}

.nouveaute {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 8rem 0;
}

.nouveaute h3,
.nouveaute p {
    width: 90%;
    margin: auto;
}

.nouveaute h3 {
    color: var(--second-color);
    margin: 0 auto 2rem;
}

.nouveaute p {
    font-size: 1.5rem;
    color: var(--principal-color);
    margin-top: 4rem;
}

.slider {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.slider img {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    max-height: 300px;
    width: 100%;
    object-fit:cover;
}

.nouveaute date {
    font-size: 1.2rem;
}

.nouveaute ul {
    text-align: left;
}

.nouveaute li {
    color: var(--principal-color);
    margin-top: 3rem;
    font-size: 1.4rem;
    width: 90%;
    list-style: none;
}

.lien-classement{
    background: var(--principal-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin: 2rem auto;
    color: white;
    text-decoration: none;
    width: 70%;
    transition: scale 0.2s ease-in-out;
}

.lien-classement:hover{
    scale: 1.1;
}

/* ------------------modal box----------------- */


.nouveaute button {
    width: 40%;
    margin: auto;
    display: block;
    margin-top: 2rem;
    background: linear-gradient(90deg, var(--principal-color) 40%, var(--second-color) 95%);
    border: 0;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    transition: background 1s ease-in-out;
    background-size: 200% 100%;
    background-position: right;
    box-shadow: 0px 1px 10px black;
}

.nouveaute button.reverse {
    background-position: left;
}


.modal button {
    width: 90%;
    margin: auto;
    display: block;
    margin-top: 5rem;
    background: linear-gradient(to right, var(--principal-color), var(--second-color) 70%);
    border: 0;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
}



.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 200;
    overflow: auto;
    display: none;
}

.overlay.visible {
    display: block;
}


.modal {
    color: var(--principal-color);
    position: fixed;
    border: 1px solid black;
    border-radius: 20px;
    width: 90%;
    z-index: 2000;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    background-color: white;
    line-height: 2.2rem;
    left: -100%;
    transition: left 0.5s ease-in-out;
    max-height: 95vh;
    overflow-y: scroll;
}



.modal.visible {
    left: 50%;
}

.modal h3 {
    color: var(--second-color);
}

.modal p {
    margin: 4rem 0;
}

.modal li {
    margin-bottom: 2rem;
    list-style: none;
}

.modal li:before {
    font-family: FontAwesome;
    content: '\f005';
    color: rgb(182, 41, 41);
    margin-left: -2.2rem
}

.animation-droite {
    opacity: 0;
    transition: opacity 1.5s linear;
}

.animation-gauche {
    opacity: 0;
    transition: opacity 1.5s linear;
}

.right {
    position: relative;
    animation-name: right;
    animation-duration: 1.5s;
    opacity: 1;
}

.left {
    position: relative;
    animation-name: left;
    animation-duration: 1.5s;
    opacity: 1;
}



@keyframes right {
    0% {
        right: -100%;
        opacity: 0;
    }

    100% {
        right: 0%;
        opacity: 1;
    }
}


/* ************************************************CLICK PHOTO************************************************** */

.img-modal {
    cursor: pointer;
    transition: 0.3s;
  }
  
  .img-modal:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal-photo {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 95%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }

  .slider-container {
    width: 100%; /* Ajustez la largeur du slider-container selon vos besoins */
    max-width: 800px; /* Définissez une largeur maximale pour limiter la taille des images */
    margin: 0 auto; /* Centrez horizontalement le slider-container */
  }
  
  .slider-img {
    width: 100%; /* Utilisez la largeur de 100% pour que les images occupent toute la largeur du slider-container */
    height: auto; /* Assurez-vous que la hauteur est automatiquement calculée pour maintenir les proportions */
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content{
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close-photo {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close-photo:hover,
  .close-photo:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  





/* ****************************************FOOTER***********************************/

footer {
    color: white;
    position: relative;
    display: flex;
    align-items: center;
}

.footerback {
    background: url('../img/photo-nb3.png');
    background-position: right;
    background-size:cover;
    /* filter: blur(2px); */
    height: 800px;
    width: 100%;
    position: absolute;
    z-index: -1;
    /* border-radius: 2rem; */
}
.pied-page {
    width: 95%;
    margin: 1rem auto;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 10px white;
    /* border-bottom: 2rem; */
    height: 780px;
}

.logo-mornant img {
    width: 200px;
}
.logo-mornant {
    text-align: center;
    padding: 3rem 0;
}

.footer-list h3{
    text-align: center;
    color: rgb(255, 255, 255);
}

.footer-list {
    text-align: center;
    border-top: 1px solid rgb(133, 133, 133);
    width: 60%;
    margin: auto;
    padding: 3rem 0;
}

.footer-list ul{
    display: inline-block;
    padding: 0;
    text-align: left;
    color: var(--second-color);
}

.footer-list a{
    color: var(--second-color);
    text-decoration: none;
    display: block;
    margin-bottom: 1.5rem;
}

.icon-footer{
    text-align: center;
    border-top: 1px solid rgb(133, 133, 133);
    width: 60%;
    margin: auto;
}

.icon-footer a{
    font-size: 4rem;
    display: inline-block;
    color: white;
    padding: 3rem 0;
}

.partenaire{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-titre-partenaire{
    border-top: 1px solid rgb(133, 133, 133);
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 3rem 0;
    color: rgb(255, 255, 255);
}


.partenaire img {
    width: 100px;
}





/* **********************************************************************************************************************
**********************************************MEDIA QUERY****************************************************
********************************************************************************************************************** */

/* ***************************GRAND MOBILE********************* */

@media screen and (min-width: 425px){
    
    .header-lien{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    



}



/* ***************************TABLETTE********************* */

@media screen and (min-width: 780px){

/* ----------------LOADER---------------- */


.trait{
    height: 100vh;
    width: 5px;
}

.filet{
    bottom: 0;
    left: initial;
}
.filet2{
    top: 0;
    right: initial;
}


.bord2{
    width: 100%;
    height: initial;
}



/* ----------TENNIS  OFFER-------------- */


.section-ourclub{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-ourclub article{
    width: 45%;
    margin-top: 3rem;
}

.section-ourclub p{
    width: 90%;
    margin: auto;
}

.boutton-inscription{
    margin-top:3rem;
}

/* ----------derniere infos-------------- */


}

/* **************************************DESKTOP************************************ */


@media screen and (min-width: 1100px){


.max-back{
    height: 830px
}



/* -------------nav------------- */

.navigation-principal img{
    width: 200px;
}

.fa-solid:before {
    content: none;
}

.cross:before {
    content: none;
}


.nav-scroll{
    position: relative;
    background: none;
}

.navigation-principal{
    display: flex;
    margin: auto;
    justify-content: flex-end;
    width: 80%;
}

.nav-bar{
    display: flex;
    position:initial;
    justify-content: flex-end;
}

.sous{
    display: flex;
    justify-content: space-around;
    width: 95%;
    align-items: center;
    position: relative;
    

}


.sous > li{
    background: none;
    position: relative;
}

.sous > li > a{
    text-shadow: 0px 0px 3px black;
}



.current{
    background: none;
    color: var(--second-color)!important;
}

.sous > li a {
    display: block;
    padding: 1rem;
    font-weight: bold;
    color: white;
    border-radius: 1rem;
    border: 3px solid transparent;
    -webkit-mask: 
    conic-gradient(at top 0px right 0px, #0000 90deg,#000 0)
    var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
    conic-gradient(from 180deg at bottom 0px left  0px,  #0000 90deg,#000 0)
    0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
    linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s; 
}

.sous a:hover {
    border: 3px solid;
    --_i: 100%;
    transition: .3s, -webkit-mask-size .3s .3s;
}

.color-white{
    color: white;
}

.sous-menu2 li{
    background-color: white;
}



.sous-menu2 li:first-child{
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.sous-menu2 li:last-child{
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}




.sous-menu2{
    position: absolute;
    padding: 0;
    text-align: center;
    margin-top: 2rem;
}

.competitions1 li{
    padding: 2rem 4.5rem;
}

.competitions1 li a{
    color: black;
}

.club1{
    transform: translateX(-20%);
}

.club1 li{
    padding-right: 3.9rem;
}

.club1 li a{
    display: inline-block;
    width: 100%;
    margin: 2rem 2rem;
    color: black;
}


.orange{
    color: var(--second-color)!important;
}


.text-header h1{
    font-size: 5rem;
}

.text-header p{
    font-size: 1.5rem;
}


/* ----------TENNIS  OFFER-------------- */

.fond-ourtennisclub{
    background-color: rgba(0, 0, 0, 0);
}

.container{
    margin: 18rem auto;
}


.section-ourclub{
    justify-content: space-around;;
}

.section-ourclub article{
    width: 24%;
}

.section-ourclub p{
    width: 80%;
    margin: auto;
}


/* ----------derniere infos-------------- */

.section-nouveaute{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section-nouveaute article{
    width: 45%;
    box-shadow: 0px 0px 2px black;
}

.nouveaute button,.modal button,.text-jeune > h3, .text-jeune > p, .text-jeune > button{
    display: none;
}

.text-jeune{
    padding: 0;
}

.modal h3{
    text-align: center;
}

.modal {
    color: var(--principal-color);
    position: initial;
    border: none;
    border-radius: none;
    width: 90%;
    z-index: 2000;
    top: initial;
    transform: none;
    padding: 3rem;
    background-color: transparent;
    line-height: 2.2rem;
    left: initial;
    transition: left 0.5s ease-in-out;
    margin: 0 auto;
    overflow: initial;
}

.modal ul{
    padding: 0 2rem ;
}





/* ---------------footer------------------*/

.pied-page{
    width: 90%;
}

/* .footerback{
    background: url('../img/photo-nb3.png');
    background-size: cover;
    background-position:right; */
/* } */


}

@media screen and (min-width: 1350px) {
    .slider img {
        max-height: 350px;
    }
}


@media screen and (min-width: 2150px){


    .text-header{
        height: 1050px;
    }

    .max-back{
        height: 1100px;
    }
    .container{
        margin-top: 45rem;
    }

    .footerback{
        height: 1100px;
    }

}






/* 
**********************************************************************************************************************************
**************************************************PAGE ENTRAINEMENTS**************************************************************
********************************************************************************************************************************** */



/* ************************image background header********************* */

#entrnmt-back{
    background: url('../img/pexels-magda-ehlers-4080060.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    left: 0;
}

.entrnmt-max-back {
    height: 400px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.entrnmt-text-header{
    margin: auto;
    width: 90%;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
}


.entrnmt-wrapper{
    height: 400px;
}

/* ************************article entrainement******************** */

.entrnmt-article h3{
    text-transform: uppercase;
}

.entrnmt-boutton{
    display: flex;
    justify-content: center;
}


/* **********************DESKTOP******************* */

@media screen and (min-width: 1100px) {
    
.entrnmt-container{

margin: 9rem auto;

}
}

/* ***********************2K******************** */

@media screen and (min-width: 2150px){

    .entrnmt-container{

        margin-bottom: 28rem;
        
        }


}



/* 
**********************************************************************************************************************************
********************************************************PAGE CONTACT**************************************************************
********************************************************************************************************************************** */




/* ************************image background header********************* */


#contact-back{
    background: url('../img/table-tennis-filet.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    left: 0;
}

.contact-max-back {
    height: 400px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.contact-wrapper{
    height: 400px;
}





/* ***************************contenu contact********************* */

.contact-gymnase img{
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.contact-gymnase{
    position: relative;
    margin: 5rem auto;
}

.contact-adresse{
    background: rgb(19, 19, 19);
    color: white;
    width: 100%;
    padding-bottom: 4rem ;
    font-size: 1.3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 3px black;
}

.contact-text h2{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid rgba(49, 49, 49, 0.363);
}

.contact-google iframe{
    border-radius: 1rem;
    box-shadow: 1px 1px 5px black;
}


.contact-formulaire{
    background-color: rgba(235, 235, 235, 0.226);
    margin: 5rem auto;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.contact-formulaire h2{
    text-align: center;
    border-bottom: 1px solid rgba(165, 164, 164, 0.493);
    padding-bottom: 2rem;
    color: var(--principal-color);
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.contact-formulaire form{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 2rem;
}


.contact-formulaire label,.contact-formulaire button{
    margin: 1rem 0;
    font-size: 1.8rem;
}

.contact-formulaire input,.contact-formulaire textarea{
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
    margin-bottom: 3rem;
}

.contact-formulaire label:after{
    content: " *";
    color: red;
}

.contact-formulaire textarea{
    width: 100%;
    height: 100px;
}

.contact-formulaire button{
    background: linear-gradient(90deg, var(--principal-color)50%, var(--second-color) 70%);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 5px black;
    margin-top: 2rem;
    color: white;
    border: none;
    background-position: right;
    transition: background 0.9s ease-in;
    background-size: 200% 100%;
}

.contact-formulaire button:hover{
    background-position: left;
}


/* **************************TABLETTE*********************** */

@media screen and (min-width: 780px){
   
.contact{
    position: relative;
}

.contact-adresse{
    width: 40%;
    height: 475.5px;
    left: 5%;
    position: relative;
}

.contact-formulaire{
    width: 40%;
}

.contact-formulaire{
    position: absolute;
    top:0;
    right: 5%;
    margin-top: 0;
    font-size: 1.4rem;
    padding: 0 2rem;
}


.contact-formulaire label,.contact-formulaire h2, .contact-formulaire button, .contact-formulaire textarea{
    margin: 0;
}

.contact-formulaire h2{
    padding-bottom: 1.5rem;
    margin: 1rem -2rem 3rem -2rem;
    font-size: 1.8rem;
    
}

.contact-formulaire label{
    display: none;
}

.contact-formulaire input,.contact-formulaire textarea{
    outline: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: none;
    border-radius: 0;
    margin-top: 0.7rem;
    padding: 0.5rem 0;
    background-color: rgba(235, 235, 235, 0.089);
}

.contact-formulaire textarea{
    height: initial;
}

.contact-formulaire button{
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 80%;
    margin: 3.5rem auto 0;
}

}



/* **************************DESKTOP*********************** */

@media screen and (min-width: 1100px){
    
.contact-container{
    margin: 10rem auto;
}

.contact-gymnase{
    padding: 0;
    margin: 0;

}


.contact-formulaire{
    width: 25%;
    right: 0;
    transform: translateY(-12%);
    padding: 0;
    background-color: #e7e7e717;
}

.contact-formulaire h2{
    margin-top: 2rem;
    padding-bottom: 2rem;
    margin-left: -2rem;
    margin-right: -2rem;
}

.contact-formulaire label{
    display: block;
}

.contact-adresse{
    background-color: #fff;
    box-shadow: initial;
    width: 60%;
    left: 0;
    height: initial;
}

.contact-text{
    background-color: rgba(19, 19, 19, 0.938);
    position: absolute;
    right: 0;
    top: 18%;
    width: 40%;
    transform: translateX(50%);
    padding: 2rem 3rem;
    font-size: 1.2rem;
}


.contact-google{
    margin-top: 15rem;
}




}

@media screen and (min-width: 2150px){
    .contact-container{
        margin-bottom: 22rem;
    }
}



/* 
**********************************************************************************************************************************
********************************************************PAGE HISTORIQUE**************************************************************
********************************************************************************************************************************** */


/* ************************image background header********************* */


#historique-back{
    background: url('../img/sports-3097621.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    left: 0;
}

.historique-max-back {
    height: 400px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.historique-wrapper{
    height: 400px;
}



/* ************************contenu historique********************* */


.historique-section img{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.411);
    /* border-radius: 0.5rem; */
}

.historique-section h2,.historique-section h3{
    text-align: center;
    color: rgba(122, 82, 49, 0.527);
}

.historique-section article{
    /* background-color: #0000002d; */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.233);
    margin-top: 4rem;
    border-radius: 0.5rem;
    padding-bottom: 2rem;
}

.historique-section{
    font-family: DM sans;
}

.historique-section p{
    color: rgb(15, 14, 36);
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 1rem 3rem;
    line-height: 2rem;
}

.historique-presidence,.historique-association{
    padding: 1rem;
}

.historique-presidence li{
    list-style: none;
}

.historique-presidence ul{
    padding: 2rem 2rem 0;
}

.historique-presidence li::before{
    content: "- ";
}

.historique-association p{
    font-size: 1.3rem;
    font-style: italic;
}



/* **************************DESKTOP*********************** */

@media screen and (min-width: 1100px){

.historique-container{
    margin: 10rem auto;
}

.historique-section  img{
    width: 50%;
    border: none;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.historique-section{
    border-radius: 1rem;
    position: relative;
}

.historique-section article{
    margin-bottom: 2rem;
    background-color: #0e0e0e07;
    /* box-shadow: none; */
    border: 0.1px solid rgba(0, 0, 0, 0.027);
}

.historique-section p{
    font-size: 1.9rem;
    line-height: 2.7rem;
}

.historique-section h2{
    font-size: 3rem;
}

.historique-section article:first-child{
    padding: 0;
    display: flex;
    align-items: center;
}

.historique-section article:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 0;
    /* justify-content: space-between; */
}



.historique-text2{
    width: 40%;
    align-self: flex-end;
    
}
.historique-text3{
    width: 40%;
    align-self: flex-start;
}

.historique-text2 p{
    padding-left: 0;
}
.historique-text3 p{
    padding-left: 0;
}


.historique-section article:nth-child(3){
    padding: 0;
    display: flex;
    align-items: center;
    height: 400px;
}
.historique-section article:nth-child(3) img{
    
    height: 400px;
}

.historique-section article:nth-child(4){
    height: 400px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.historique-section article:nth-child(5){
    height: 400px;
    width: 45%;
    position: absolute;
    right: 0;
    transform: translateY(-115.3%);
}
.historique-section article:nth-child(4) h3{
    font-size:  2.5rem;
    text-transform: uppercase;
}
.historique-section article:nth-child(4) li{
    font-size:  2rem;
    text-align: center;
    margin-top: 2rem;
}

.historique-text4{
    padding: 1rem;
}

.historique-association p{
    margin: 0.7rem;
}





}

@media screen and (min-width: 2150px){
    .historique-container{
        margin-bottom: 22rem;
    }
}


/* 
**********************************************************************************************************************************
********************************************************PAGE INSCRIPTION**************************************************************
********************************************************************************************************************************** */



/* ************************image background header********************* */


#inscription-back{
    background: url('../img/back_inscription2.webp');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    left: 0;
}

.inscription-max-back {
    height: 400px;
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.inscription-wrapper{
    height: 400px;
}


/* *****************************inscription article************************** */

.inscription-slider div article{
    background-color: rgba(2, 2, 2, 0.007);
    padding: 01rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.774);
    color: rgb(7, 6, 6);
    max-width: 500px;
    width: 95%;
    margin: 5rem auto 3rem;
    height: 700px;
    position: relative;
}



.inscription-container{
    width: 100%;
}

.slick-center{
    /* scale: 1.04; */
}

.inscription-slider .slick-prev::before{
    color: rgba(23, 47, 112, 0.849)!important;
    font-size: 4rem!important;
    margin: 0rem!important;
}

.remove-arrow{
    display: none;
}

.inscription-slider .slick-next::before{
    margin: 0rem!important;
    color: rgba(23, 47, 112, 0.849)!important;
    font-size: 4rem!important;

}


.inscription article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 680px;
    text-align: center;
    
}

.inscription-ajustement1  p,.inscription-ajustement3 p{
    line-height: 1.9rem;
}

.inscription-plus{
    font-size: 5rem;
    margin: 0;
    padding: 0;
    color: var(--second-color)
} 

.inscription article h2{
    color: rgb(7, 6, 6);
    text-transform: uppercase;
    color: var(--principal-color);
    margin: 0 1rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.inscription article h3{
    font-size: 5rem;
    color: var(--second-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
}

.inscription article p{
    margin: 1rem;
    font-weight: bold;
}  

.inscription-petit-text{
    font-size: 1rem;
}

.inscription article img{
    width: 100px;
}

.inscription-slider article a{
    padding: 1.5rem 1rem;
    border-radius: 2rem;
    border: none;
    background: linear-gradient(to right, var(--principal-color), var(--second-color) 70%);
    color: white;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.inscription-slider article a:hover{
    background: var(--second-color);
    transform: scale(1.1);
    border: 2px solid white;
}

.inscription-ajustement1 h3{
    margin: 0;
}

.inscription-ajustement2 h3{
    margin-top: 0;
    margin-bottom: 5.9rem;
}

.inscription-ajustement3 p:nth-child(4){
    font-size: 1rem;
    margin: 0;
}

.inscription-ajustement3 .inscription-text p:nth-child(2){
    margin: 2rem;
}

.inscription-ajustement3 h3{
    margin-top: 0;
    margin-bottom: 5.5rem;
}



/* ************************modal inscription********************* */

.inscription-modal{
    background-color: rgb(255, 255, 255);
    margin: 0 auto 5rem;
    width: 95%;
    border-radius: 2rem;
    display: none;
    box-shadow: 1px 1px 5px black;
    max-width: 500px;
    transition: all 0.3 ease-in-out;
}

.inscription-container-modal{
    padding: 1rem;
    text-align: center;
    margin: auto;
}

.inscription-container-modal a:first-child{
    margin-top: 2rem;
}

.inscription-container-modal > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease-in-out;
}


.inscription-container-modal > div:hover{
    scale: 1.1;
}
.inscription-container-modal > div:hover h3,.inscription-container-modal > div:hover h3 > i{
    /* color: var(--principal-color); */
    text-decoration: underline;

    
}

.inscription-modal a{
    text-decoration: none;
    padding: 0;
}

.inscription-modal.visible{
    left: 50%;
}

.inscription-container-modal h2{
    color: var(--principal-color);
}

.inscription-container-modal h3{
    color: var(--second-color);
    width: 100%;
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
}

.inscription-container-modal h3 i{
    font-size: 1.7rem;
}

.inscription-container-modal p{
    margin: 0 auto;
    font-size: 1.2rem;
    padding: 0 3rem;

}

.inscription-ferme a{
    padding: 1.5rem 4rem;
    border-radius: 2rem;
    border: none;
    background: linear-gradient(to right, var(--principal-color), var(--second-color) 70%);
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 2rem auto;
    transition: all 0.3s ease-in-out;
}

.inscription-ferme a:hover{
    background: var(--second-color);
    transform: scale(1.1);
    border: 2px solid white;
}

.inscription-img-aide div{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.inscription-img-aide h3{
    margin: 3rem auto 0;
}



.inscription-img-aide img{
    width: 80px;
    height: 80px;
}


.inscription-img-aide img:hover{
    scale: 1.1;
}

.inscription-cheque h3{
    margin: 3rem auto 1rem;
    text-decoration: underline;
}
.slick-track.remove-slide{
    transform: none!important;
}





/* **************************petit mobile*********************** */

@media screen and (min-width: 375px) {
    
    .inscription-slider .slick-prev::before{
        color: rgba(23, 47, 112, 0.849)!important;
        font-size: 4rem!important;
        margin: 0rem!important;
        /* text-shadow: 1px 1px 5px rgba(17, 19, 122, 0.712); */
    }
    .inscription-slider .slick-next::before{
        margin: 0rem!important;
        color: rgba(23, 47, 112, 0.849)!important;
        font-size: 4rem!important;
        /* text-shadow: 1px 1px 5px rgba(17, 19, 122, 0.712); */
    }

}

/* ****************************moyen-grand mobile********************** */

@media screen and (min-width: 425px) {
    
    .inscription-slider .slick-prev::before{
        color: rgba(24, 46, 112, 0.623)!important;
        font-size: 4.5rem!important;
        margin: 1rem!important;
        /* text-shadow: 1px 1px 5px rgba(17, 19, 122, 0.712); */
    }
    .inscription-slider .slick-next::before{
        margin: -1.3rem!important;
        color: rgba(24, 46, 112, 0.623)!important;
        font-size: 4.5rem!important;
        /* text-shadow: 1px 1px 5px rgba(17, 19, 122, 0.712); */
    }

    .inscription-ajustement3 h3{
        margin-top: 1rem;
        margin-bottom: 4.5rem;
    }
}



@media screen and (min-width: 640px) {
    
    .inscription-slider .slick-prev::before{
        color: rgba(24, 46, 112, 0.923)!important;
        font-size: 4.5rem!important;
        margin: 1rem!important;
        /* text-shadow: 1px 1px 5px rgba(17, 19, 122, 0.712); */
    }
    .inscription-slider .slick-next::before{
        margin: -1rem!important;
        color: rgba(24, 46, 112, 0.923)!important;
        font-size: 4.5rem!important;
        /* text-shadow: 1px 1px 5px rgba(17, 19, 122, 0.712); */
    }

    .inscription-ajustement3 h3{
        margin-top: 1rem;
        margin-bottom: 4.5rem;
    }
}


/* ****************************desktop********************** */

@media screen and (min-width: 980px){

    .inscription-container{
        margin: 5rem auto 7rem;
    }

    
    .inscription article{
        transition: scale 0.3s ease-in-out;
        z-index: 50;
    }

    .inscription article:hover{
        scale: 1.13;
        background-color: rgb(230, 230, 230);
        z-index: 2200;
    }

    .inscription-ajustement2:hover ~ article{
        filter: blur(5px);
        background-color: black;
    }
    .inscription-container .slick-list{
        overflow: initial!important;
    }

    
}


@media screen and (min-width: 2150px) {
    .inscription-container{
        margin-bottom: 22rem;
    }
}